name: Build the Alpine image and push to GHCR

on:
  push:
    tags:
      - 'v*'
    paths-ignore:
      - '**.md'
      - '.github/workflows/**.yaml'
  workflow_dispatch:

jobs:
  build:
    name: Build and push to ghcr
    runs-on: ubuntu-latest
    environment: production
    permissions:
      contents: read
      actions: write
    defaults:
      run:
        working-directory: .
        shell: bash
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Build and push frps version tag
        uses: Frozen-Tapestry/container-action@v1
        with:
          login_registry: ghcr.io
          login_username: ${{ github.actor }}
          login_password: ${{ secrets.GHCR_TOKEN }}
          tags: ghcr.io/rubberverse/qor-frp:frps-33ab7ee
          dockerfile: Server.Dockerfile
          build_args: GIT_BRANCH=new
          extra_args: --annotation org.opencontainers.image.authors=Mr.\ Rubber\ Ducky\ (OG_MrRubberDucky)<overseer@rubberverse.xyz> --annotation org.opencontainers.image.url=https://rubberverse.xyz --annotation org.opencontainers.image.source=https://github.com/Rubberverse/qor-frp --annotation org.opencontainers.image.revision=v0.62.1 --annotation org.opencontainers.image.licenses=MIT --annotation org.opencontainers.image.vendor=Rubberverse --annotation org.opencontainers.image.title=Quackers\ of\ Rubberverse\ (QoR)\ frp --annotation org.opencontainers.image.description=Rootless\ frp\ server\ image
          security: |
            --security-opt=seccomp=unconfined
            --security-opt=apparmor=unconfined
          push: true

      - name: Build and push frpc version tag
        uses: Frozen-Tapestry/container-action@v1
        with:
          login_registry: ghcr.io
          login_username: ${{ github.actor }}
          login_password: ${{ secrets.GHCR_TOKEN }}
          tags: ghcr.io/rubberverse/qor-frp:frpc-33ab7ee
          dockerfile: Client.Dockerfile
          build_args: GIT_BRANCH=new
          extra_args: --annotation org.opencontainers.image.authors=Mr.\ Rubber\ Ducky\ (OG_MrRubberDucky)<overseer@rubberverse.xyz> --annotation org.opencontainers.image.url=https://rubberverse.xyz --annotation org.opencontainers.image.source=https://github.com/Rubberverse/qor-frp --annotation org.opencontainers.image.revision=v0.62.1 --annotation org.opencontainers.image.licenses=MIT --annotation org.opencontainers.image.vendor=Rubberverse --annotation org.opencontainers.image.title=Quackers\ of\ Rubberverse\ (QoR)\ frp --annotation org.opencontainers.image.description=Rootless\ frp\ client\ image
          security: |
            --security-opt=seccomp=unconfined
            --security-opt=apparmor=unconfined
          push: true
